
<form hx-post="{% url 'line_flyer_update' line_id=line.id %}" hx-encoding="multipart/form-data" >
    {% csrf_token %}
    <input type="file" name="flyer" class="form-control mb-2" accept="image/*" id="id_flyer" data-gtm-form-interact-field-id="0">
    
    <div class="mt-2 d-flex justify-content-end">
        <a class="clear-image btn btn-light me-2" hx-get="{% url 'line_flyer' line_id=line.id %}">Cancelar</a>

        <div id="control-buttons" class="d-flex align-items-center hidden">
            <a class="btn btn-danger me-2 clear-image">Eliminar imagen</a>
            <div id="line-flyer-saving" class="hidden me-2">
                <button class="btn btn-dark" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Subiendo imagen...</span>
                </button>
            </div>
            <button type="submit" id="line-save-button" class="btn btn-dark">Guardar</button>
        </div>
    </div>
</form>

<script>
    loadImageEditing();
</script>