psycopg2
Django
geojson
requests
django-apscheduler
django-leaflet
pillow
django-tinymce
django-storages
boto3
unidecode
djangorestframework
pandas
pyarrow
django-hosts
requests
matplotlib
django-taggit
turfpy
ipyleaflet
django-allauth
shapely
gunicorn
whitenoise