{% load static %}
<div class="modal fade" id="transit-layer-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Muestra/oculta sistemas del mapa</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container card-body">
                    <div id="cdmx-layer" class="hidden">
                        <div class="list-group">
                            <a href="#" id="metro" class="list-group-item list-group-item-action">
                                <img src="{% static 'images/metro-logo.png' %}" alt="Metro" class="item-icon">
                                Metro
                            </a>
                        </div>
            
                        <div class="list-group mt-3">
                            <a href="#" id="metrobus" class="list-group-item list-group-item-action">
                                <img src="{% static 'images/metrobus-logo.png' %}" alt="Metrobús" class="item-icon">
                                Metrobús
                            </a>
                        </div>
                        <div class="list-group mt-3">
                            <a href="#" id="ste" class="list-group-item list-group-item-action">
                                <img src="{% static 'images/transportes-electricos-logo.png' %}" alt="Sistema de Transportes Eléctricos" class="item-icon">
                                Transportes Eléctricos
                            </a>
                        </div>
                        <div class="list-group mt-3">
                            <a href="#" id="cablebus" class="list-group-item list-group-item-action">
                                <img src="{% static 'images/cablebus-logo.png' %}" alt="Cablebús" class="item-icon">
                                Cablebús
                            </a>
                        </div>
                        <div class="list-group mt-3">
                            <a href="#" id="ecobici" class="list-group-item list-group-item-action">
                                <img src="{% static 'images/ecobici-logo.png' %}" alt="Ecobici" class="item-icon">
                                Ecobici
                            </a>
                        </div>
                        <div class="list-group mt-3">
                            <a href="#" id="rtp" class="list-group-item list-group-item-action">
                                <img src="{% static 'images/rtp-logo.png' %}" alt="RTP" class="item-icon">
                                RTP
                            </a>
                        </div>
                        <div class="list-group mt-3">
                            <a href="#" id="peseros" class="list-group-item list-group-item-action">
                                <img src="{% static 'images/peseros-logo.png' %}" alt="Peseros y Combis" class="item-icon">
                                Peseros y Combis
                            </a>
                        </div>
                        <div class="list-group mt-3">
                            <a href="#" id="corredores" class="list-group-item list-group-item-action">
                                <img src="{% static 'images/concesionados-logo.png' %}" alt="Red de Autobuses CDMX" class="item-icon">
                                Transporte Concesionado
                            </a>
                        </div>
                        <div class="list-group mt-3">
                            <a href="#" id="tren-interurbano" class="list-group-item list-group-item-action">
                                <img src="{% static 'images/insurgente-logo.png' %}" alt="Tren Interurbano" class="item-icon">
                                Tren Interurbano
                            </a>
                        </div>
                        <div class="list-group mt-3">
                            <a href="#" id="suburbano" class="list-group-item list-group-item-action">
                                <img src="{% static 'images/suburbano-logo.png' %}" alt="Tren Suburbano" class="item-icon">
                                Tren Suburbano
                            </a>
                        </div>
                        <div class="list-group mt-3">
                            <a href="#" id="mexibus" class="list-group-item list-group-item-action">
                                <img src="{% static 'images/mexibus-logo.png' %}" alt="Mexibús" class="item-icon">
                                Mexibús
                            </a>
                        </div>
                        <div class="list-group mt-3">
                            <a href="#" id="mexicable" class="list-group-item list-group-item-action">
                                <img src="{% static 'images/mexicable-logo.png' %}" alt="MexiCable" class="item-icon">
                                MexiCable
                            </a>
                        </div>
                    </div>
                    <div id="yucatan-layer" class="hidden">
                        <div class="list-group">
                            <a href="#" id="va-y-ven" class="list-group-item list-group-item-action">
                                <img src="{% static 'images/va-y-ven.png' %}" alt="Va-y-Ven" class="item-icon">
                                Va-y-Ven
                            </a>
                        </div>
                    </div>
                    <div id="none-layer" class="hidden">
                        <div class="list-group text-center">
                            <img src="{% static 'images/no-transports.png' %}" alt="Placeholder" class="item-icon" style="width: 130px; height: 130px; margin: 0 auto;">
                            <h4 class="list-group-item-heading">No hay sistemas en esta área</h4>
                            <p class="list-group-item-text">Intenta ajustar la vista del mapa en ciudades con un sistema de transporte público.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>