<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    
    <title>Política de Privacidad - Wikiando: La movilidad de todos</title>

    <link rel="shortcut icon" href="{% static 'images/shortcut-logo.png' %}" type="image/x-icon" />

    <meta name="description" content="Política de privacidad para usuarios de Wikiando">
    <meta name="keywords" content="transporte público, metro, metrobús, ciclovias, trolebús, tren ligero, politica de privacidad, datos, seguridad">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="canonical" href="https://wikiando.mx/privacy-policy/es" />

    <meta property="og:title" content="Política de privacidad | Wikiando">
    <meta property="og:description" content="Política de privacidad para usuarios de Wikiando">
    
    <meta property="og:image" content="https://wikiando.mx/static/images/intro-social-media.jpg">
    <meta property="og:url" content="https://wikiando.mx/privacy-policy/es">

    <meta name="twitter:title" content="Política de privacidad | Wikiando">
    <meta name="twitter:description" content="Política de privacidad para usuarios de Wikiando">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://wikiando.mx/static/images/intro-social-media.jpg">

    <style>

        .active a {
            font-weight: bold;
            color: black;
        }

        .about .description {
            margin: 50px;
        }

        .about .profile {
            margin: 80px 0px;
        }

        .about .social-media {
            color: rgb(43, 115, 182);
            text-decoration: none;
            font-weight: bold;
        }

        .btn-close-over-image {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 9999;
        }

        .spacer-20 {
            margin-right: 20px !important;
        }
    </style>
</head>
<body>
    {% with active_tab="privacy-policy" %}
        {% include '_shared_navbar.html' %}
    {% endwith %}

    <!-- Bootstrap JS and Mapbox JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <div class="container mt-5 about">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Política de Privacidad</h1>
                <p class="col-md-8 fs-5 mt-4">
                    Esta página se utiliza para informar a los visitantes sobre las políticas con la recopilación, uso y divulgación de Información personal si alguien decide utilizar <b>Wikiando</b> y alguna de sus apps, como por ejemplo: <b>Metrobus CDMX</b>. Si elige utilizar este Servicio, acepta la recopilación y el uso de información en relación con esta política. La Información personal que recopilamos se utiliza para proporcionar y mejorar el Servicio. No usaremos ni compartiremos su información con nadie excepto tal y como se describe en esta Política de Privacidad.                    
                </p>
                <br/>
                <h4>Recopilación y uso de información</h4>
                <p class="col-md-8 fs-5 mt-4">
                    Para una mejor experiencia, al utilizar nuestro Servicio, es posible que se le solicite nos proporcione cierta información de identificación personal. La información que solicitamos se conservará en su dispositivo y no la recopilaremos de ninguna manera. La aplicación utiliza servicios de terceros que pueden recopilar información utilizada para identificarlo.                    
                </p>
                <br/>
                <h4>Recolección de datos</h4>
                <p class="col-md-8 fs-5 mt-4">
                    Queremos informarle que cada vez que utiliza nuestro Servicio, en caso de un error en la aplicación recopilaremos datos e información (a través de productos de terceros) en su explorador llamados Datos de registro. Estos datos de registro pueden incluir información como la dirección del Protocolo de Internet (“IP”) de su dispositivo, el nombre del dispositivo, la versión del sistema operativo, la configuración de la aplicación cuando utiliza mi Servicio, la hora y fecha de su uso del Servicio y otras estadísticas.                    
                </p>
                <br/>
                <h4>Cookies</h4>
                <p class="col-md-8 fs-5 mt-4">
                    Las cookies son archivos con una pequeña cantidad de datos que se utilizan habitualmente como identificadores únicos anónimos. Estos se envían a su navegador desde los sitios web que visita y se almacenan en la memoria interna de su dispositivo. Este servicio puede utilizar códigos y bibliotecas de terceros que utilizan “cookies” para recopilar información y mejorar sus servicios.                
                </p>
                <br/>
                <h4>Proovedores de Servicios</h4>
                <p class="col-md-8 fs-5 mt-4">
                    Puedo emplear empresas y terceros por las siguientes razones: 
                </p>
                <ul>
                    <li class="fs-5">Para facilitar nuestro Servicio;</li>
                    <li class="fs-5">Para proporcionar el Servicio en nuestro nombre;</li>
                    <li class="fs-5">Para realizar servicios relacionados con el Servicio; o</li>
                    <li class="fs-5">Para ayudarnos a analizar cómo se utiliza nuestro Servicio.</li>
                </ul>
                <p class="col-md-8 fs-5 mt-4">
                    Queremos informar a los usuarios de este Servicio que estos terceros no tienen acceso a su Información Personal. El motivo es realizar las tareas que les sean asignadas en nuestro nombre. Sin embargo, están obligados a no revelar ni utilizar la información para ningún otro fin.               
                </p>  
                <br/>
                <h4>Seguridad</h4>
                <p class="col-md-8 fs-5 mt-4">
                    Valoro su confianza al proporcionarnos su información personal, por lo que nos esforzamos por utilizar medios comercialmente aceptables para protegerla. Pero recuerde que ningún método de transmisión a través de Internet o método de almacenamiento electrónico es 100% seguro y confiable, y no podemos garantizar la seguridad absoluta.                
                </p>
                <br/>
                <h4>Enlaces a otros sitios</h4>
                <p class="col-md-8 fs-5 mt-4">
                    Este Servicio puede contener enlaces a otros sitios. Si hace clic en un enlace de un tercero, será dirigido a ese sitio. Tenga en cuenta que estos sitios externos no son operados por mí. Por lo tanto, le recomiendo encarecidamente que revise la Política de Privacidad de estos sitios web. No tenemos control ni asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las prácticas de sitios o servicios de terceros.                
                </p>
                <br/>
                <h4>Privacidad de niños</h4>
                <p class="col-md-8 fs-5 mt-4">
                    Estos Servicios no están dirigidos a personas menores de 13 años. No recopilamos intencionalmente información de identificación personal de niños menores de 13 años. En el caso de que descubrir que un niño menor de 13 años me ha proporcionado información personal, la eliminaremos inmediatamente de nuestros servidores. Si es padre o tutor y sabe que su hijo nos ha proporcionado información personal, comuníquese con nosotros para que podamos tomar las medidas necesarias.                
                </p>
                <br/>
                <h4>Cambios a esta política de privacidad</h4>
                <p class="col-md-8 fs-5 mt-4">
                    Podemos actualizar nuestra Política de Privacidad de vez en cuando. Por lo tanto, se recomienda revisar esta página periódicamente para detectar cualquier cambio. Le notificaremos de cualquier cambio publicando la nueva Política de Privacidad en esta página. Estos cambios entran en vigor inmediatamente después de su publicación en esta página.                
                </p>
                <br/>
                <h4>Datos de contacto</h4>
                <p class="col-md-8 fs-5 mt-4">
                    Si tiene alguna pregunta o sugerencia sobre nuestra Política de Privacidad, no dude en ponerse en contacto con nosotros a través de nuestras redes sociales o a través de las redes sociales de Taller De Apps en Twitter y en Facebook.               
                    Contáctanos a <a href="mailto:alex@tallerdeapps.mx">alex@tallerdeapps.mx</a> ó a <a href="mailto:aecp@ciencias.unam.mx">aecp@ciencias.unam.mx</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>