<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    
    <title>Privacy Policy - Wikiando & Metrobus CDMX</title>

    <link rel="shortcut icon" href="{% static 'images/shortcut-logo.png' %}" type="image/x-icon" />

    <meta name="description" content="Política de privacidad para usuarios de Wikiando">
    <meta name="keywords" content="transporte público, metro, metrobús, ciclovias, trolebús, tren ligero, politica de privacidad, datos, seguridad">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="canonical" href="https://wikiando.mx/privacy-policy/en" />

    <meta property="og:title" content="Privacy Policy | Wikiando & Metrobus CDMX">
    <meta property="og:description" content="Privacy Policy for Wikiando & Metrobus CDMX users">
    
    <meta property="og:image" content="https://wikiando.mx/static/images/intro-social-media.jpg">
    <meta property="og:url" content="https://wikiando.mx/privacy-policy/en">

    <meta name="twitter:title" content="Privacy Policy | Wikiando & Metrobus CDMX">
    <meta name="twitter:description" content="Privacy Policy for Wikiando & Metrobus CDMX users">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://wikiando.mx/static/images/intro-social-media.jpg">

    <style>

        .active a {
            font-weight: bold;
            color: black;
        }

        .about .description {
            margin: 50px;
        }

        .about .profile {
            margin: 80px 0px;
        }

        .about .social-media {
            color: rgb(43, 115, 182);
            text-decoration: none;
            font-weight: bold;
        }

        .btn-close-over-image {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 9999;
        }

        .spacer-20 {
            margin-right: 20px !important;
        }
    </style>
</head>
<body>
    {% with active_tab="privacy-policy" %}
        {% include '_shared_navbar.html' %}
    {% endwith %}

    <!-- Bootstrap JS and Mapbox JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <div class="container mt-5 about">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Privacy Policy</h1>
                <p class="col-md-8 fs-5 mt-4">
                    This page is used to inform visitors about our policies regarding the collection, use, and disclosure of Personal Information if anyone decides to use <b>Wikiando</b> or any of our apps, like <b>Metrobus CDMX</b>. If you choose to use our Service, you agree to the collection and use of information in relation to this policy. The Personal Information we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.
                </p>
                <br/>
                <h4>Information Collection and Use</h4>
                <p class="col-md-8 fs-5 mt-4">
                    For a better experience while using our Service, we may require you to provide us with certain personally identifiable information. The information that we request will be retained on your device and is not collected by us in any way. The app does use third-party services that may collect information used to identify you.
                </p>
                <br/>
                <h4>Data Collection</h4>
                <p class="col-md-8 fs-5 mt-4">
                    We want to inform you that whenever you use our Service, in case of an error in the app, we collect data and information (through third-party products) on your browser called Log Data. This Log Data may include information such as your device's Internet Protocol ("IP") address, device name, operating system version, the configuration of the app when utilizing our Service, the time and date of your use of the Service, and other statistics.
                </p>
                <br/>
                <h4>Cookies</h4>
                <p class="col-md-8 fs-5 mt-4">
                    Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory. This Service may use codes and third-party libraries that use "cookies" to collect information and improve their services.
                </p>
                <br/>
                <h4>Service Providers</h4>
                <p class="col-md-8 fs-5 mt-4">
                    We may employ third-party companies and individuals for the following reasons:
                </p>
                <ul>
                    <li class="fs-5">To facilitate our Service;</li>
                    <li class="fs-5">To provide the Service on our behalf;</li>
                    <li class="fs-5">To perform Service-related services; or</li>
                    <li class="fs-5">To assist us in analyzing how our Service is used.</li>
                </ul>
                <p class="col-md-8 fs-5 mt-4">
                    We want to inform users of this Service that these third parties do not have access to your Personal Information. The reason is to perform the tasks assigned to them on our behalf. However, they are obligated not to disclose or use the information for any other purpose.
                </p>  
                <br/>
                <h4>Security</h4>
                <p class="col-md-8 fs-5 mt-4">
                    We value your trust in providing us with your Personal Information, thus we strive to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
                </p>
                <br/>
                <h4>Links to Other Sites</h4>
                <p class="col-md-8 fs-5 mt-4">
                    This Service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
                </p>
                <br/>
                <h4>Children's Privacy</h4>
                <p class="col-md-8 fs-5 mt-4">
                    These Services do not address anyone under the age of 13. We do not knowingly collect personally identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to take necessary actions.
                </p>
                <br/>
                <h4>Changes to This Privacy Policy</h4>
                <p class="col-md-8 fs-5 mt-4">
                    We may update our Privacy Policy from time to time. Thus, you are advised to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.
                </p>
                <br/>
                <h4>Contact Us</h4>
                <p class="col-md-8 fs-5 mt-4">
                    If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us through our social media channels or through Taller De Apps' social media on Twitter and Facebook.
                    Contact us at <a href="mailto:alex@tallerdeapps.mx">alex@tallerdeapps.mx</a> or <a href="mailto:aecp@ciencias.unam.mx">aecp@ciencias.unam.mx</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>