{% load static %}

<div class="d-flex align-items-center mt-2 mt-md-0">
    <form hx-post="{% url 'create_marker' line_id=line.id %}" hx-target="#content-area-for-markers" hx-swap="innerHTML" class="ms-2">
        {% csrf_token %}
        {{ marker_form.as_p }}
        <div class="d-flex justify-content-end w-100">
            <a class="btn btn-light me-2" hx-get="{% url 'line_markers' line_id=line.id %}">
                Atrás
            </a>
            <button id="line-markers-save-button" class="btn btn-dark me-2" type="submit" disabled onclick="markButtonAsSaving()">
                Guardar
            </button>
            <div id="line-markers-saving" class="hidden">
                <button class="btn btn-dark" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Guardando...</span>
                </button>
            </div>
        </div>
    </form>
</div>

<script>
    enableSimpleMarkerDrawing();

    function markButtonAsSaving() {
        $('#line-markers-saving').removeClass('hidden');
        $('#line-markers-save-button').addClass('hidden');
    }
</script>