{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Wikiando MX: Iniciar sesión" %}
{% endblock head_title %}
{% block content %}
    <h1 class="mb-3">Iniciar sesión</h1>
    {% if not SOCIALACCOUNT_ONLY %}
        {% setvar link %}
            <a href="{{ signup_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        {% url 'account_login' as login_url %}
        <form method="post" action="/accounts/login/">
            {% csrf_token %}
            <p>
                <label for="id_login">Nombre de usuario:</label>
                <input class="form-control" type="text" name="login" placeholder="Tu nombre de usuario" autocomplete="username" maxlength="150" required="" id="id_login">
            </p>
            <p>
                <label for="id_password">Contraseña:</label>
                <input class="form-control" type="password" name="password" placeholder="Tu contraseña" autocomplete="current-password" required="" id="id_password">
            </p>

            <div class="d-flex justify-content-end pb-3">
                <div id="logging-account-button" class="hidden">
                    <button class="btn btn-dark" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                        <span role="status">Iniciando sesión...</span>
                    </button>
                </div>
                <button id="log-account-button" type="submit" class="btn btn-dark">Iniciar Sesión</button>
            </div>
            <hr/>
            <ul class="text-center list-inline pt-1">
                <li class="list-inline-item"><a href="/accounts/signup/">Registrate</a></li>
                <li class="list-inline-item"><a href="/accounts/password/reset/">Olvidaste tu contraseña?</a></li>
            </ul>
        </form>
    {% endif %}
    {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
        {% element hr %}
        {% endelement %}
        {% element button_group vertical=True %}
            {% if PASSKEY_LOGIN_ENABLED %}
                {% element button type="submit" form="mfa_login" id="passkey_login" tags="prominent,login,outline,primary" %}
                    {% trans "Sign in with a passkey" %}
                {% endelement %}
            {% endif %}
            {% if LOGIN_BY_CODE_ENABLED %}
                {% element button href=request_login_code_url tags="prominent,login,outline,primary" %}
                    {% trans "Mail me a sign-in code" %}
                {% endelement %}
            {% endif %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
    <script>
        $('form').on('submit', function() {
            $('#logging-account-button').removeClass('hidden');
            $('#log-account-button').addClass('hidden');
        });
    </script>
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}