{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Wikiando MX: Contraseña recuperada" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Listo 🎉" %}
    {% endelement %}
    <p class="mt-4">
        Tu contraseña ha sido cambiada exitosamente.
    </p>
    <hr/>
    <ul class="list-inline pt-1">
        <li class="list-inline-item"><a href="/accounts/login/">Iniciar sesión</a></li>
    </ul>
{% endblock content %}