{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Wikiando MX: Cambiar contraseña" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% if token_fail %}
            {% trans "Expiró tu solicitud" %}
        {% else %}
            {% trans "Cambiar contraseña" %}
        {% endif %}
    {% endelement %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        {% element p %}
            {% blocktrans %}El enlace para restablecer la contraseña no es válido, posiblemente porque ya ha sido utilizado. Por favor, solicita un <a href="{{ passwd_reset_url }}">nuevo restablecimiento de contraseña</a>.{% endblocktrans %}
        {% endelement %}
    {% else %}
    
    <form class="mt-4" method="post" action={{ action_url }}>
        {% csrf_token %}
        <p>
            <label for="id_password1">Nueva contraseña:</label>
            <input class="form-control"  type="password" name="password1" placeholder="Nueva contraseña" autocomplete="new-password" required="" id="id_password1">
        </p>

        <p>
            <label for="id_password2">Confirmación:</label>
            <input class="form-control" type="password" name="password2" placeholder="Confirmar nueva contraseña" required="" id="id_password2">
        </p>

        <div class="d-flex justify-content-end pb-3">
            <a href="{% url 'account_login' %}" class="btn btn-light me-2">Atrás</a>
            <div id="changing-account-password" class="hidden">
                <button class="btn btn-dark" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                    <span role="status">Guardando nueva contraseña ...</span>
                </button>
            </div>
            <button id="change-account-password" class="btn btn-dark" name="action" type="submit">Cambiar contraseña</button>
        </div>
        
    </form>

    <script>
        $('form').on('submit', function() {
            $('#changing-account-password').removeClass('hidden');
            $('#change-account-password').addClass('hidden');
        });
    </script>
    {% endif %}
{% endblock content %}