{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Wikiando MX: Recuperar contraseña" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Recuperar contraseña" %}
    {% endelement %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p class="mt-3">Te hemos enviado un correo electrónico. Si no lo has recibido, por favor revisa tu carpeta de spam.</p>
    {% element p %}
        {% blocktrans %}Si no recibes el correo en unos minutos, entonces contáctanos.{% endblocktrans %}
    {% endelement %}
    <hr/>
    <ul class="list-inline pt-1">
        <li class="list-inline-item"><a href="/accounts/login/">Atrás</a></li>
    </ul>
{% endblock content %}