
{% extends "wikiando/layouts/base_simple.html" %}
{% load static %}

{% block body %}
<div class="base-page d-flex justify-content-center align-items-center">
    <div id="lines-container" class="wikiando-items justify-content-center mt-5">

        {% if not lines %}
        <div class="text-center mt-5">
                <img src="{% static 'images/empty-icon.png' %}" alt="" class="my-5 rounded-circle mb-3" style="max-height: 300px;">

            <h4>No hay rutas publicadas aún.</h4>
            <p class="mt-2">Añade esa ruta de transporte público que siempre te ha hecho falta.</p>
            <a href="{% url 'line_new_page' %}" class="mt-3 btn btn-warning">Añadir una ruta</a>
        </div>
        {% else %}
        <div class="mt-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <h2 class="my-3">Rutas publicadas</h2>
                <div class="d-flex justify-content-end align-items-center">
                    <a href="{% url 'line_new_page' %}" class="btn btn-dark mr-2 me-2">Agrega tu ruta</a>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true" aria-expanded="false">
                            Ordenar por
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'imaginamos_page' %}/recientes">Recientes</a>
                            <a class="dropdown-item" href="{% url 'imaginamos_page' %}/alfabeticamente">Alfabéticamente</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                {% for line in lines %}
                    {% with edit_mode=edit_mode %}
                        {% include 'lines/list/entry.html' %}
                    {% endwith %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}